<article>
	<header>
		<h1><a href="./{{article.id}}" title="{{article.title|e}}">{{article.title|e}}</a></h1>
	</header>
	<aside class="timestamps">
		<time class="posted-at">{{article.updated_at|date}}</time>
	</aside>
	<aside class="tags">
	{% if article.tags is not empty %}
	{% include "tags.twig" with {tags: article.tags} %}
	{% endif %}
	</aside>
	{{article.text|markdown|raw}}
</article>
