<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="ROBOTS" content="INDEX, FOLLOW">
		<meta name="generator" content="Necorandum {{system.version}}">
		<meta name="description" content="{{config.site.description}}">
		<meta name="author" content="{{config.site.author}}">
		<meta name="reply-to" content="{{config.site.email}}">
		<base href="http://{{system.base}}/">
		<link rev="made" href="mailto:{{config.site.email}}">
		<link rel="alternate" href="./atom" type="application/atom+xml" title="Atom1.0">
		<link rel="stylesheet" href="./css/main.css" type="text/css" media="screen">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/{{config.site.highlight_theme}}.min.css" media="screen">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
		<script>
//<![CDATA[
	hljs.configure({tabReplace: "    "});
	hljs.registerLanguage("text", function(){return {};});
	hljs.initHighlightingOnLoad();
	if(window.addEventListener) {
		var NodeInsert = function(evt) { Array.prototype.forEach.call(evt.target.querySelectorAll('pre code'), hljs.highlightBlock);};
		window.addEventListener('AutoPagerize_DOMNodeInserted', NodeInsert, false);
		window.addEventListener('AutoPatchWork.DOMNodeInserted', NodeInsert, false);
	}
//]]></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="./main.js"></script>
{% if admin and login %}
		<script type="text/javascript" src="./taboverride.min.js"></script>
		<script type="text/javascript" src="./admin.js"></script>
{% endif %}
{% if embed_ga %}
		<script type="text/javascript">
//<![CDATA[
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '{{config.site.ga_code}}', '{{system.base}}');
	ga('send', 'pageview');
//]]></script>
{% endif %}
		<title>{% block title %}{{config.site.title|e}}{% endblock %}</title>
	</head>
	<body>
		<div id="container">
			<header>
				<div id="title" class="bound">
					<h1><a href="./"><span class="hidden">{{config.site.title|e}}</span></a></h1>
				</div>
				<div id="menu">
					<nav class="bound">
						{% if not admin %}
						<form id="search" action="./" method="GET">
							<input name="search" type="text" value="{{search}}"><input type="submit" value="&#xe81d;">
						</form>
						<a href="./atom" title="Atom feed"><span class="typicons">&#xe803;</span></a>
						{% if login %}
						<a href="./admin" title="admin"><span class="typicons">&#xe823;</span></a>
						{% if solely %}
						<a href="./admin/edit/{{articles[0].id}}" title="edit"><span class="typicons">&#xe821;</span></a>
						{% else %}
						<a href="./admin/new" title="new"><span class="typicons">&#xe821;</span></a>
						{% endif %}
						{% endif %}
						{% include "tags.twig" with {tags: tags} %}
						{% endif %}
					</nav>
				</div>
			</header>
			<hr>
			<div id="main" class="bound">
				{% if info is not empty or warn is not empty %}
				<aside id="info">
					<ul>
						{% for message in info %}
						<li>{{message}}</li>
						{% endfor %}
						{% for message in warn %}
						<li class="warn">{{message}}</li>
						{% endfor %}
					</ul>
				</aside>
				{% endif%}
				{% block contents %}
				<div class="autopagerize_page_element">
					{% for article in articles %}
						{% include "article.twig" with {article: article} %}
						{% if not loop.last %}
					<hr>
						{% endif %}
					{% endfor %}
				</div>
				{% if prev is defined or next is defined %}
				<nav id="prev-next">
					<ul>
					{% if prev is defined %}
						<li><a href="{{ prev }}" title="前のページ" rel="prev">prev</a></li>
					{% endif %}
					{% if next is defined %}
						<li><a href="{{ next }}" title="次のページ" rel="next">next</a></li>
					{% endif %}
					</ul>
				</nav>
				{% endif %}
				{% endblock %}
			</div>
			<hr>
			<footer>
				<div class="bound">
					<a id="twitter" href="http://twitter.com/necocen">
						<img src="./css/icon.png" alt="twitter@necocen">
					</a>
					<address>presented by {{config.site.author|e}} under CC0.</address>
					<a id="cc0banner" rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
						<img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" width="88" height="31">
					</a>
				</div>
			</footer>
		</div>
	</body>
</html>
